.carousel-container {  
  display: flex;
}
.carousel-container__carousel {
  width: 100%;
  position: relative;
}

.carousel-container__text {
  top: 43%;
  position: absolute;
  color: white;
  left: 18px;
  white-space: nowrap;
}

.carousel-container__text .heading{
  position: absolute;
  font-weight: 25;
  font-size: 28px;
  letter-spacing: 3px;
}
.carousel-container__text .subheading {
  position: absolute;
  text-transform: lowercase;
  font-weight: 550;
  font-size: 22px;
  margin-top: 60px;
  letter-spacing: 2px;
}

.carousel-container__carousel img {
  width: 100%;
  position: absolute;
}

.slide-right-enter {
 transform: translateX(100%);
}

.slide-right-enter-active{
  transform: translateX(0%);
  transition: 1000ms ease-in-out;
}

.slide-right-exit {
  transform: translateX(0%);
 }

.slide-right-exit-active{
  transform: translateX(-100%);
  transition: 1000ms ease-in-out;
}

.slide-left-enter {
  transform: translateX(-100%);
 }
 
 .slide-left-enter-active{
   transform: translateX(0%);
   transition: transform 1000ms ease-in-out;
 }
.slide-left-exit{
  transform: translateX(0%);
}

 .slide-left-exit-active{
  transform: translateX(100%);
  transition: 1000ms ease-in-out;
}



.slide_text-right-enter {
  transform: translateX(100%);
 }
 
 .slide_text-right-enter-active{
   transform: translateX(0%);
   transition: 2000ms ease-in-out;
 }
 
 .slide_text-right-exit {
   transform: translateX(0%);
  }
 
 .slide_text-right-exit-active{
   transform: translateX(-100%);
   transition: 2000ms ease-in-out;
 }
 
 .slide_text-left-enter {
   transform: translateX(-100%);
  }
  
  .slide_text-left-enter-active{
    transform: translateX(0%);
    transition: transform 2000ms ease-in-out;
  }
 .slide_text-left-exit{
   transform: translateX(0%);
 }
 
.slide_text-left-exit-active{
   transform: translateX(100%);
   transition: 2000ms ease-in-out;
 }
 

