@import "../../../App.scss";

.top-nav__cart-menu {
  display: none;
}

.openCart {
  display: block;
  width: 115px;
  height: 130px;
  top: 40px;
  right: 42px;
  position: absolute;
  background-color: white;
  text-decoration: none;
}

.openCart p {
  font-weight: 700;
  font-size: 10px;
  font-family: $axis;
  letter-spacing: 2px;
  text-align: center;
  margin: 25px 0;
}