@font-face {
  font-family: Montserrat;
  src: url(./components/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Pacifico;
  src: url(./components/assets/fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Axis;
  src: url(./components/assets/fonts/Axis.woff2);
}
:root {
  --pacifico: Pacifico, "Times New Roman", Times, serif;
  --montserrat: Montserrat, Arial, Helvetica, sans-serif;
  --axis: Axis, Arial, Helvetica, sans-serif;
  --black: #000;
  --white: #fff;
  --subheading-color: #985e5b;
  --bg-color-contact: #edeff2;
  --bg-color-gallery: #f7f7f7;
  --hover: #d3d3d3;
}
.html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.about {
  margin: 10px 10px 0;
}

.about__image1 {
  top: 0px;
  width: 80%;
  margin-left: 20%;
}

.about__image2 {
  position: relative;
  width: 80%;
  top: -35px;
}

.about__heading {
  font-size: 38px;
  font-family: var(--axis);
  font-weight: 700;
  color: var(--black);
  text-transform: lowercase;
}

.about__subheading {
  font-size: 11px;
  font-family: var(--axis);
  color: var(--subheading-color);
  text-transform: uppercase;
}
.about__paragraph {
  font-family: var(--montserrat);
  line-height: 30px;
  color: var(--black);
  font-size: 13px;
  font-weight: 700;
  hyphens: auto;
  text-align: justify;
}
